<div class="jumbotron">
  <div>
    <h1 class="display-4 text center">Golf Course Logger</h1>
    <p class="lead"></p>
  </div>
</div>

<div class="col-md-12">
    <img
    src="../public/assets/img/golf-logo.jpg"
    />                    
</div>