<div class="container">

    <div class="jumbotron">
        {{!-- <div class="container">
            <h1 class="display-4 text-center">Golf Course Logger</h1>
            <p class="lead"></p>
        </div> --}}
        <h1 class="text-center">Golf Course Logger</h1>
        <p class="text-center">Track your favorite courses!</p>
    </div>

</div>

